:root {
    --blue: rgb(38, 84, 124);
    --pink: rgb(239, 71, 111);
    --yellow: rgb(255, 209, 102);
    --green: rgb(5, 214, 158);
    --black: rgb(0, 0, 0);
    --white: rgb(252, 252, 252);
}

h1 {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px  black;
  }
  .joke_section{
text-align: center;
  }
  .quote_section{
text-align: center;
  }
  .splash-container {
    
    z-index: 1;
    overflow: hidden;
   
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
   
}
.splash {
 
  width: 80%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 100px; left: 0; bottom: 0; right: 0;
  text-align: center;
  text-transform: uppercase;
}

.h2 {
    text-align:center;
}

header {
    border: black;
    border-radius: 5px;
    border-style: outset;
    margin-bottom: 10px;
    background-color: var(--pink);
}

.justify-content-space-around {
    justify-content: space-around;
}

#first {
    border: black;
    border-radius: 5px;
    border-style: outset;
    padding: 30px;
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0px;
}

#second {
    border: black;
    border-radius: 5px;
    border-style: outset;
    padding: 30px;
    background-color: var(--blue);
}

#clear {
    clear: both;
}

.daily-planner {
    border: black;
    border-radius: 5px;
    border-style: outset;
    margin-top: 10px;
    height: 200px;
    background-color: var(--yellow);
}

p {
    text-align: center;
}

.btn{
    width: 48%;
    padding: 20px;
    border-radius: 5px;
    color: #383838;
    font-size: 20px;
    cursor: pointer;
    text-transform: capitalize;
}
.joke-btn{
  width: 48%;
  padding: 20px;
  border-radius: 5px;
  color: #383838;
  font-size: 20px;
  cursor: pointer;
  text-transform: capitalize;
  background-color: var(--white);
}



.quote-btn{
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    color: #383838;
    font-size: 20px;
    cursor: pointer;
    text-transform: capitalize;
    margin-top: 110px;
    background-color: var(--white);
}
.joke-btn:hover{
  font-size: 150%;
}

.quote-btn:hover{
  font-size: 150%;
}



/* 
@media (max-width: 768px) {

    #first {
        width: 300px;
        float: left;
        height: 600px;
        border: black;
        border-radius: 5px;
        border-style: outset;
        margin-left: 50px;
        padding: 15px;
    }
    #second {
        width: 300px;
        float: left;
        height: 600px;
        border: black;
        border-radius: 5px;
        border-style: outset;
        margin-left: 20px;
        padding: 15px;
    }

    button {
        margin-left: 100px;
    }

    .btn{
        font-size: 10px;
    }
}

@media (max-width: 500px) {

    #first {
        width: 150px;
        float: left;
        height: 900px;
        border: black;
        border-radius: 5px;
        border-style: outset;
        margin-left: 50px;
        padding: 7px;
    }
    #second {
        width: 150px;
        float: left;
        height: 900px;
        border: black;
        border-radius: 5px;
        border-style: outset;
        margin-left: 20px;
        padding: 7px;
    }

    button {
        margin-left: 50px;
    }

    .btn{
        font-size: 10px;
    }
} */