body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
.jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px  black;
  }
  .joke_section{
text-align: center;
  }
  .quote_section{
text-align: center;
  }
  .splash-container {
    
    z-index: 1;
    overflow: hidden;
   
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
   
}
.splash {
 
  width: 80%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 100px; left: 0; bottom: 0; right: 0;
  text-align: center;
  text-transform: uppercase;
}